.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniaturas {
  display: flex;
  gap: 50px;
}

img {
  max-width: 250px;
  cursor: pointer;
}

#previsualizacionImagen {
  max-width: 850px;
  border: 2px solid #ccc;
}